BACKEND_IP=0.0.0.0
BACKEND_PORT=3060
TIMEZONE=Australia/Brisbane
REGISTRY_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/registry
TENANT_DATABASE_URL=postgresql://postgres:postgres@localhost:5433
# generate from workOS dashboard
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
# generate from scripts/new-jwt-secret.sh (bash)
JWT_SECRET=
# or use defaults in src/utils/jwt-config.ts
JWT_EXPIRES_IN_SECONDS=
JWT_ISSUER=
JWT_AUDIENCE=
CORS_ORIGIN=http://localhost:5173,https://localhost:5173
REFRESH_COOKIE_SECURE=true